<hr/>
<fieldset>
    <legend>{{localize "conditional-visibility.token.config.senses"}}</legend>
    <p class="notes">{{localize "conditional-visibility.token.config.extraSenseInstructions"}}</p>
    {{#each senses as |sense|}}
        <div class="form-group">
            <img src="{{sense.image}}" style="height: 25px; width:25px;"></img>
            <label>{{localize sense.name}}</label>
            <input type="number" min=-1 step=1 {{#if sense.value}} value="{{sense.value}}" {{else}} value="0" {{/if}} name="flags.conditional-visibility.{{sense.id}}"/>
        </div>
    {{/each}}
</fieldset>
<hr/>
<fieldset>
    <legend>{{localize "conditional-visibility.token.config.conditions"}}</legend>
    <p class="notes">{{localize "conditional-visibility.token.config.extraConditionInstructions"}}</p>
    {{#each conditions as |condition|}}
        <div class="form-group">
            <img src="{{condition.image}}" style="height: 25px; width:25px;"></img>
            <label>{{localize condition.name}}</label>
            <input type="number" min=-1 step=1 {{#if condition.value}} value="{{condition.value}}" {{else}} value="0" {{/if}} name="flags.conditional-visibility.{{condition.id}}"/>
        </div>
    {{/each}}
</fieldset>
<hr/>
